#mycan{
    position: relative;
    display: block;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0px auto;
    z-index: 1;
    top: 10px;
}
.div{
z-index: 2 ;
position: absolute;
left: 47%;
font-size: 30px;
font-family: Impact;
color: black;
opacity: 70% ;
}
.container{
    position: relative;
    border: 4px solid rgb(1, 44, 8);
    top: 10px;
    height: 560px;
}
.div:hover{
  font-size: 40px;
  opacity: 100%;
  cursor: pointer;
}
#head{
font-size: 2rem;
margin-bottom: 5px;
margin-top: 0px;
top: 0px;
}
img{
  width: 62px;
  height: 62px;
  border-radius: 10px;
  margin-right: 10px;
}
#git{
  font-size: 24px;
}
.flex{
  display: flex;
}
#note{
  position: absolute;
  bottom: 10px;
  left: 37.5%;
  font-size: 30px;
  color: white;
}
#background{
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 16px 10px 16px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}